{% block at_fa_choice_widget %}
    {{ block("choice_widget") }}

    <script>
        function formatState (state) {
            if (!state.id) { return state.text; }

            return $('<span><span class="fa fa-"'+ state.text.trim() + '"></span>' + state.text + "</span>");
        }

        $(document).ready(function(){
            alert("test");
            $(".at-fa-choice").select2({
                templateResult: formatState
            });
        });
    </script>
{% endblock at_fa_choice_widget %}